USE [master]
GO
/****** Object:  Database [InternationalDebtStatistics]    Script Date: 19-04-2025 01:15:06 ******/
CREATE DATABASE [InternationalDebtStatistics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InternationalDebtStatistics', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER_TUSH\MSSQL\DATA\InternationalDebtStatistics.mdf' , SIZE = 335872KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InternationalDebtStatistics_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER_TUSH\MSSQL\DATA\InternationalDebtStatistics_log.ldf' , SIZE = 598016KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InternationalDebtStatistics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InternationalDebtStatistics]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 19-04-2025 01:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryCode ] [nvarchar](50) NOT NULL,
	[Long_Name] [nvarchar](100) NOT NULL,
	[IncomeGroup] [nvarchar](50) NULL,
	[Region] [nvarchar](50) NULL,
	[Lending_category] [nvarchar](50) NULL,
	[Other_groups] [nvarchar](50) NULL,
	[Currency_Unit] [nvarchar](50) NULL,
	[Latest_population_census] [nvarchar](150) NULL,
	[Latest_household_survey] [nvarchar](100) NULL,
	[Special_Notes] [nvarchar](1350) NULL,
	[National_accounts_base_year] [nvarchar](100) NULL,
	[National_accounts_reference_year] [smallint] NULL,
	[System_of_National_Accounts] [nvarchar](100) NULL,
	[SNA_price_valuation] [nvarchar](50) NULL,
	[PPP_survey_years] [nvarchar](200) NULL,
	[Balance_of_Payments_Manual_in_use] [nvarchar](50) NULL,
	[External_debt_Reporting_status] [nvarchar](50) NULL,
	[System_of_trade] [nvarchar](50) NULL,
	[Government_Accounting_concept] [nvarchar](50) NULL,
	[IMF_data_dissemination_standard] [nvarchar](100) NULL,
	[Source_of_most_recent_Income_and_expenditure_data] [nvarchar](100) NULL,
	[Vital_registration_complete] [nvarchar](50) NULL,
	[Latest_agricultural_census] [nvarchar](150) NULL,
	[Latest_industrial_data] [smallint] NULL,
	[Latest_trade_data] [smallint] NULL,
	[Latest_water_withdrawal_data] [smallint] NULL,
	[_2_alpha_code] [nvarchar](50) NOT NULL,
	[WB_2_code] [nvarchar](50) NOT NULL,
	[Table_Name] [nvarchar](100) NOT NULL,
	[ShortName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryCode ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Series]    Script Date: 19-04-2025 01:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Series](
	[Series_Code] [nvarchar](50) NOT NULL,
	[License_Type] [nvarchar](50) NULL,
	[Indicator] [nvarchar](100) NOT NULL,
	[Short_definition] [nvarchar](max) NULL,
	[Long_definition] [nvarchar](max) NOT NULL,
	[Source] [nvarchar](max) NOT NULL,
	[TopicName] [nvarchar](255) NULL,
	[Dataset] [nvarchar](max) NULL,
	[Periodicity] [nvarchar](max) NOT NULL,
	[Aggregation_method] [nvarchar](max) NOT NULL,
	[Limitations_and_exceptions] [nvarchar](max) NULL,
	[General_comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_Series] PRIMARY KEY CLUSTERED 
(
	[Series_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DebtData]    Script Date: 19-04-2025 01:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DebtData](
	[Country_Name] [nvarchar](50) NULL,
	[CountryCode] [nvarchar](50) NULL,
	[Counterpart_Area_Name] [nvarchar](50) NULL,
	[Counterpart_Area_Code] [nvarchar](50) NULL,
	[Series_Name] [nvarchar](100) NULL,
	[SeriesCode] [nvarchar](50) NULL,
	[Year] [int] NULL,
	[Value] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TotalExternalDebtByCountry]    Script Date: 19-04-2025 01:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View for total external debt per country per year
CREATE VIEW [dbo].[vw_TotalExternalDebtByCountry] AS
SELECT 
    c.CountryCode,
    c.ShortName AS CountryName,
    c.Region,
    c.IncomeGroup,
    d.Year,
    d.Value AS TotalExternalDebt
FROM 
    DebtData d
JOIN 
    Countries c ON d.CountryCode = c.CountryCode
JOIN 
    Series s ON d.SeriesCode = s.SeriesCode
WHERE 
    s.SeriesCode = 'DT.DOD.DECT.CD' -- Total external debt stocks
    AND d.Value IS NOT NULL;

GO
/****** Object:  View [dbo].[vw_DebtToGNIRatio]    Script Date: 19-04-2025 01:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DebtToGNIRatio] AS
SELECT 
    c.CountryCode,
    c.ShortName AS CountryName,
    c.Region,
    c.IncomeGroup,
    d.Year,
    d.Value AS DebtToGNIRatio
FROM 
    DebtData d
JOIN 
    Countries c ON d.CountryCode = c.CountryCode
JOIN 
    Series s ON d.SeriesCode = s.SeriesCode
WHERE 
    s.SeriesCode = 'DT.DOD.DECT.GN.ZS' -- External debt stocks (% of GNI)
    AND d.Value IS NOT NULL;

GO
/****** Object:  View [dbo].[vw_DebtServiceRatio]    Script Date: 19-04-2025 01:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DebtServiceRatio] AS
SELECT 
    c.CountryCode,
    c.ShortName AS CountryName,
    c.Region,
    c.IncomeGroup,
    d.Year,
    d.Value AS DebtServiceRatio
FROM 
    DebtData d
JOIN 
    Countries c ON d.CountryCode = c.CountryCode
JOIN 
    Series s ON d.SeriesCode = s.SeriesCode
WHERE 
    s.SeriesCode = 'DT.TDS.DECT.EX.ZS' -- Total debt service (% of exports)
    AND d.Value IS NOT NULL;

GO
/****** Object:  View [dbo].[vw_DebtComposition]    Script Date: 19-04-2025 01:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DebtComposition] AS
SELECT 
    c.CountryCode,
    c.ShortName AS CountryName,
    c.Region,
    d.Year,
    s.SeriesCode,
    s.Indicator,
    d.Value
FROM 
    DebtData d
JOIN 
    Countries c ON d.CountryCode = c.CountryCode
JOIN 
    Series s ON d.SeriesCode = s.SeriesCode
WHERE 
    s.SeriesCode IN (
        'DT.DOD.BLAT.CD',  -- Bilateral debt
        'DT.DOD.MLAT.CD',  -- Multilateral debt
        'DT.DOD.PCBK.CD',  -- Commercial bank loans
        'DT.DOD.PBND.CD'   -- Bonds
    )
    AND d.Value IS NOT NULL;

GO
/****** Object:  Table [dbo].[CountrySeries]    Script Date: 19-04-2025 01:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountrySeries](
	[Type] [nvarchar](50) NOT NULL,
	[Country Code] [nvarchar](100) NOT NULL,
	[Series Code] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](700) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Footnotes]    Script Date: 19-04-2025 01:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Footnotes](
	[Type] [nvarchar](50) NOT NULL,
	[Country_Code] [nvarchar](50) NOT NULL,
	[Series_Code] [nvarchar](max) NOT NULL,
	[Time_Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Countries_IncomeGroup]    Script Date: 19-04-2025 01:15:06 ******/
CREATE NONCLUSTERED INDEX [IX_Countries_IncomeGroup] ON [dbo].[Countries]
(
	[IncomeGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Countries_Region]    Script Date: 19-04-2025 01:15:06 ******/
CREATE NONCLUSTERED INDEX [IX_Countries_Region] ON [dbo].[Countries]
(
	[Region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DebtData_CountryYear]    Script Date: 19-04-2025 01:15:06 ******/
CREATE NONCLUSTERED INDEX [IX_DebtData_CountryYear] ON [dbo].[DebtData]
(
	[CountryCode] ASC,
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DebtData_SeriesYear]    Script Date: 19-04-2025 01:15:06 ******/
CREATE NONCLUSTERED INDEX [IX_DebtData_SeriesYear] ON [dbo].[DebtData]
(
	[SeriesCode] ASC,
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DebtData_Year]    Script Date: 19-04-2025 01:15:06 ******/
CREATE NONCLUSTERED INDEX [IX_DebtData_Year] ON [dbo].[DebtData]
(
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Series_TopicName]    Script Date: 19-04-2025 01:15:06 ******/
CREATE NONCLUSTERED INDEX [IX_Series_TopicName] ON [dbo].[Series]
(
	[TopicName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DebtData]  WITH CHECK ADD  CONSTRAINT [FK_DebtData_Country] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Countries] ([CountryCode ])
GO
ALTER TABLE [dbo].[DebtData] CHECK CONSTRAINT [FK_DebtData_Country]
GO
/****** Object:  StoredProcedure [dbo].[sp_CompareCountriesDebt]    Script Date: 19-04-2025 01:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CompareCountriesDebt]
    @CountryList NVARCHAR(MAX),
    @Year INT,
    @SeriesCode NVARCHAR(50)
AS
BEGIN
    -- Create a temporary table to hold the country codes
    CREATE TABLE #TempCountries (CountryCode NVARCHAR(3));
    
    -- Split the comma-delimited list of country codes
    INSERT INTO #TempCountries
    SELECT value FROM STRING_SPLIT(@CountryList, ',');
    
    -- Get the debt data
    SELECT 
        c.ShortName AS CountryName,
        c.Region,
        c.IncomeGroup,
        s.Indicator,
        d.Value
    FROM 
        DebtData d
    JOIN 
        Countries c ON d.CountryCode = c.CountryCode
    JOIN 
        Series s ON d.SeriesCode = s.SeriesCode
    JOIN 
        #TempCountries tc ON c.CountryCode = tc.CountryCode
    WHERE 
        d.Year = @Year
        AND d.SeriesCode = @SeriesCode
    ORDER BY d.Value DESC;
    
    -- Clean up
    DROP TABLE #TempCountries;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_CompareWithPeers]    Script Date: 19-04-2025 01:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CompareWithPeers]
    @CountryCode NVARCHAR(3),
    @Year INT = 2022
AS
BEGIN
    -- Get the country's region and income group
    DECLARE @Region NVARCHAR(100), @IncomeGroup NVARCHAR(100);
    
    SELECT @Region = Region, @IncomeGroup = IncomeGroup
    FROM Countries
    WHERE CountryCode = @CountryCode;
    
    -- Get debt metrics for the country and its peers
    WITH DebtMetrics AS (
        SELECT 
            d.CountryCode,
            d.Country_Name,
            c.Region,
            c.IncomeGroup,
            MAX(CASE WHEN d.SeriesCode = 'DT.DOD.DECT.GN.ZS' THEN d.Value END) AS DebtToGNI,
            MAX(CASE WHEN d.SeriesCode = 'DT.DOD.DECT.CD' THEN d.Value END) AS TotalExternalDebt,
            MAX(CASE WHEN d.SeriesCode = 'DT.TDS.DECT.EX.ZS' THEN d.Value END) AS DebtServiceToExports
        FROM 
            DebtData d
        JOIN 
            Countries c ON d.CountryCode = c.CountryCode
        WHERE 
            d.Year = @Year
            AND (c.Region = @Region OR c.IncomeGroup = @IncomeGroup)
        GROUP BY 
            d.CountryCode, d.Country_Name, c.Region, c.IncomeGroup
    )
    SELECT 
        CountryCode,
        Country_Name,
        Region,
        IncomeGroup,
        DebtToGNI,
        TotalExternalDebt,
        DebtServiceToExports,
        'Country of Interest' AS ComparisonType
    FROM 
        DebtMetrics
    WHERE 
        CountryCode = @CountryCode
    
    UNION ALL
    
    SELECT 
        NULL AS CountryCode,
        'Regional Average' AS Country_Name,
        @Region AS Region,
        NULL AS IncomeGroup,
        AVG(DebtToGNI) AS DebtToGNI,
        AVG(TotalExternalDebt) AS TotalExternalDebt,
        AVG(DebtServiceToExports) AS DebtServiceToExports,
        'Regional Average' AS ComparisonType
    FROM 
        DebtMetrics
    WHERE 
        Region = @Region
        AND CountryCode <> @CountryCode
    
    UNION ALL
    
    SELECT 
        NULL AS CountryCode,
        'Income Group Average' AS Country_Name,
        NULL AS Region,
        @IncomeGroup AS IncomeGroup,
        AVG(DebtToGNI) AS DebtToGNI,
        AVG(TotalExternalDebt) AS TotalExternalDebt,
        AVG(DebtServiceToExports) AS DebtServiceToExports,
        'Income Group Average' AS ComparisonType
    FROM 
        DebtMetrics
    WHERE 
        IncomeGroup = @IncomeGroup
        AND CountryCode <> @CountryCode;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CountryDebtTrend]    Script Date: 19-04-2025 01:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CountryDebtTrend]
    @CountryCode NVARCHAR(3),
    @StartYear INT = 1970,
    @EndYear INT = 2025
AS
BEGIN
    SELECT 
        c.ShortName AS CountryName,
        d.Year,
        s.Indicator,
        d.Value
    FROM 
        DebtData d
    JOIN 
        Countries c ON d.CountryCode = c.CountryCode
    JOIN 
        Series s ON d.SeriesCode = s.SeriesCode
    WHERE 
        d.CountryCode = @CountryCode
        AND d.Year BETWEEN @StartYear AND @EndYear
        AND s.SeriesCode IN (
            'DT.DOD.DECT.CD',     -- Total external debt
            'DT.DOD.DECT.GN.ZS',  -- External debt to GNI
            'DT.TDS.DECT.EX.ZS'   -- Debt service ratio
        )
    ORDER BY d.Year, s.Indicator;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DebtCorrelationAnalysis]    Script Date: 19-04-2025 01:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DebtCorrelationAnalysis]
    @SeriesCode1 NVARCHAR(50),
    @SeriesCode2 NVARCHAR(50),
    @StartYear INT = 2010,
    @EndYear INT = 2022
AS
BEGIN
    -- Use a CTE to calculate the correlation first
    WITH SeriesData AS (
        SELECT 
            d1.CountryCode,
            d1.Country_Name,
            d1.Year,
            d1.Value AS Value1,
            d2.Value AS Value2
        FROM 
            DebtData d1
        JOIN 
            DebtData d2 ON d1.CountryCode = d2.CountryCode AND d1.Year = d2.Year
        WHERE 
            d1.SeriesCode = @SeriesCode1
            AND d2.SeriesCode = @SeriesCode2
            AND d1.Year BETWEEN @StartYear AND @EndYear
            AND d1.Value IS NOT NULL
            AND d2.Value IS NOT NULL
    ),
    CorrelationData AS (
        SELECT 
            CountryCode,
            Country_Name,
            COUNT(*) AS DataPoints,
            AVG(Value1) AS AvgValue1,
            AVG(Value2) AS AvgValue2,
            (COUNT(*) * SUM(Value1 * Value2) - SUM(Value1) * SUM(Value2)) / 
            NULLIF((SQRT(COUNT(*) * SUM(SQUARE(Value1)) - SQUARE(SUM(Value1))) * 
                   SQRT(COUNT(*) * SUM(SQUARE(Value2)) - SQUARE(SUM(Value2)))), 0) AS Correlation
        FROM 
            SeriesData
        GROUP BY 
            CountryCode, Country_Name
        HAVING 
            COUNT(*) >= 5  -- Require at least 5 years of data
    )
    -- Now we can order by the calculated Correlation column
    SELECT 
        CountryCode,
        Country_Name,
        DataPoints,
        AvgValue1,
        AvgValue2,
        Correlation,
        ABS(Correlation) AS AbsoluteCorrelation
    FROM 
        CorrelationData
    ORDER BY 
        AbsoluteCorrelation DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DebtTimeSeries]    Script Date: 19-04-2025 01:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DebtTimeSeries]
    @CountryCode NVARCHAR(3),
    @SeriesCode NVARCHAR(50),
    @StartYear INT,
    @EndYear INT
AS
BEGIN
    DECLARE @Indicator NVARCHAR(255);
    
    SELECT @Indicator = Indicator 
    FROM Series 
    WHERE SeriesCode = @SeriesCode;
    
    SELECT 
        c.ShortName AS CountryName,
        d.Year,
        @Indicator AS Indicator,
        d.Value,
        (d.Value - LAG(d.Value) OVER (ORDER BY d.Year)) AS YearlyChange,
        (d.Value - LAG(d.Value) OVER (ORDER BY d.Year)) / LAG(d.Value) OVER (ORDER BY d.Year) * 100 AS PercentageChange
    FROM 
        DebtData d
    JOIN 
        Countries c ON d.CountryCode = c.CountryCode
    WHERE 
        d.CountryCode = @CountryCode
        AND d.SeriesCode = @SeriesCode
        AND d.Year BETWEEN @StartYear AND @EndYear
    ORDER BY 
        d.Year;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_RegionalDebtAnalysis]    Script Date: 19-04-2025 01:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegionalDebtAnalysis]
    @Region NVARCHAR(100),
    @Year INT
AS
BEGIN
    SELECT 
        c.Region,
        AVG(CASE WHEN s.SeriesCode = 'DT.DOD.DECT.CD' THEN d.Value ELSE NULL END) AS AvgTotalDebt,
        AVG(CASE WHEN s.SeriesCode = 'DT.DOD.DECT.GN.ZS' THEN d.Value ELSE NULL END) AS AvgDebtToGNI,
        AVG(CASE WHEN s.SeriesCode = 'DT.TDS.DECT.EX.ZS' THEN d.Value ELSE NULL END) AS AvgDebtService,
        COUNT(DISTINCT c.CountryCode) AS CountriesInRegion
    FROM 
        DebtData d
    JOIN 
        Countries c ON d.CountryCode = c.CountryCode
    JOIN 
        Series s ON d.SeriesCode = s.SeriesCode
    WHERE 
        c.Region = @Region
        AND d.Year = @Year
        AND s.SeriesCode IN (
            'DT.DOD.DECT.CD',
            'DT.DOD.DECT.GN.ZS',
            'DT.TDS.DECT.EX.ZS'
        )
    GROUP BY 
        c.Region;
        
    -- Top 5 most indebted countries in the region
    SELECT TOP 5
        c.ShortName AS CountryName,
        d.Value AS TotalDebt
    FROM 
        DebtData d
    JOIN 
        Countries c ON d.CountryCode = c.CountryCode
    WHERE 
        c.Region = @Region
        AND d.Year = @Year
        AND d.SeriesCode = 'DT.DOD.DECT.CD'
    ORDER BY 
        d.Value DESC;
END;

GO
USE [master]
GO
